@font-face {
    font-family: 'Apis';
    src: url('Apis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apis';
    src: url('Apis-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Apis';
    src: url('Apis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}